# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env.*

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.log
*.tmp
*.temp

# Generated audio files
#assets/audio/ 